[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.0"
django-thumbnails = "*"
pillow = "*"
django-ckeditor-5 = "*"
python-dotenv = "*"
pygraphviz = "*"
django-rosetta = "*"
django-modeltranslation = "*"

[dev-packages]
flake8 = "*"
django-extensions = "*"
pygraphviz = "*"
django = "==5.0"
django-debug-toolbar = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
