{% extends "layout.html" %}
{% load i18n %}

{% block head_title %}{% trans 'Home' %}{% endblock head_title %}

{% block body_title %}{% trans 'Impulsa tu carrera con Conquer Blocks' %}{% endblock body_title %}



{% block body_content %}
<main>
    <section class="hero" >
        <p>
            {% trans 'Formación tecnológica de alto nivel para los líderes del futuro.' %}
        </p>
    </section>
    <section class="cursos">
        <h2>
            {% trans 'Nuestros Cursos' %}
        </h2>
        <div class="row">
            {% for curso in courses %}
                <div>
                    <h3>{{ curso.title }}</h3>
                    <p>{{ curso.content|truncatewords:20 }}</p>
                </div>
            {% empty %}
                <p>{% trans 'Próximamente nuevos cursos.' %}</p>
            {% endfor %}
        </div>
    </section>

    <section>
        <h2>{% trans 'Último en el Blog' %}</h2>
        <ul>
            {% for post in news %}
                <li>{{ post.title }} - <small>{{ post.data_creation|date:"M Y" }}</small></li>
            {% endfor %}
        </ul>
    </section>
</main>

{% endblock body_content %}