{% extends "layout.html" %}

{% block head_title %}Curso{% endblock head_title %}

{% block body_title %}{{course_detail.title}}{% endblock body_title %}

{% block body_content %}
    <section class="hero">
        <p>{{course_detail.date_creation}}</p>
        <p>{{course_detail.content}}</p>
        {% if course_detail.topics %}
            <a href="{{ course_detail.topics.url }}" 
            download>
            ⬇️ Descargar Temario (PDF)
            </a>
            
        {% else %}
            <p>⚠️ El temario aún no está disponible para este curso.</p>
        {% endif %}
        <p><a href={% url "courses:courses" %}>Volver</a></p>
    </section>

{% endblock body_content %}
