{% extends "layout.html" %}

{% block head_title %}Cursos{% endblock head_title %}

{% block body_title %}Nuestros Cursos{% endblock body_title %}



{% block body_content %}
     <p>
        <a href="{% url "courses:create" %}">Crear un nuevo Curso</a>
    </p>

    {% for course in list %}
    <article>
        {% if course.main_image %}
        <picture>
            <img src={{ course.main_image.thumbnails.large.url }}>

        </picture>
        {% endif %}
        <h3>{{course.title}}</h3>
        <p>{{course.date_creation}}</p>
        <p>{{course.content|truncatewords:20|safe}}</p>
        <p><a href={% url "courses:detail" course.pk %}>ver mas</a></p>
    </article>
    {% endfor %}

   

{% endblock body_content %}